@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Roboto:wght@400;700&display=swap');

$main_font: "Jaro", sans-serif;


$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1424px;

$black: #000; 
$Dark: #1A1A1D;
$Dark-Mulberry: #3B1C32;
$Crimson-Plum: #6A1E55;
$Rosewood-Pink: #A64D79;
$blanco: #fff;
$antiquewhite: antiquewhite;

$bold: bold;