@use "base/variables" as v;
@use "base/mixins" as m;


.contacto{
    color: v.$blanco;
    text-align: center;

    img{
        border-radius: 100%;
        width: 70%;
        @include m.tablet{
            width: 40%;
        }
    }
    .box-contact-info{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        padding: 10rem;

        @include m.tablet{
            flex-direction: row;
        }
    }
}


.box-contact_text{
    display: flex;
    flex-direction: column; /* Organiza los elementos verticalmente */
    align-items: flex-start; /* Alinea todo al lado izquierdo */
    gap: 1rem; /* Espaciado uniforme entre los elementos */
    width: 100%; /* Asegura que todo ocupe el mismo ancho */
        .contact-text{
            img{
                width: 5rem;
            }
            color: v.$blanco;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
    
            a{
                color: v.$blanco;
            }
        }
}

.box-contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include m.desktopXL{
    flex-direction: row;
    justify-content: space-between;
  }
}


.mision{
    background-color: green;
    height: 100%;
    width: 100%;
    border-radius: 2rem;

    @include m.tablet{
        width: 20%;
    }
 
    
    p{
        padding: 2rem;
        line-height: 2;
    }
}

#map {
    height: 400px;
    width: 50%;
} 

.ubicacion{
   text-align: center;
   
       color: v.$blanco;
}