@use "base/variables" as v;
@use "base/mixins" as m;

.proyect{
   
    text-align: center;

    h2{
        color: v.$blanco;
        font-size: 8rem;
        text-shadow: 
        2px 2px 0px v.$Rosewood-Pink,   /* Borde superior e izquierdo */
        -2px -2px 0px v.$Rosewood-Pink, /* Borde inferior y derecho */
        2px -2px 0px v.$Rosewood-Pink,  /* Borde superior y derecho */
        -2px 2px 0px v.$Rosewood-Pink;  /* Borde inferior e izquierdo */
    }
}

.proyect-box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include m.desktop{
        flex-direction: row;
    }
    
    .proyect-box_first{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        color: v.$black;
        width: 100%;
        img{
            box-shadow: 5px 5px 10px rgba(255, 253, 253, 0.5),
            -5px -5px 10px rgba(255, 255, 255, 0.2);
            width: 50%;
            height: 30rem;
        }
        
        .proyect-box_text{
            background-color: v.$blanco;
            width: 50%;
           p{
            padding: 2rem;
           }
           h3{
            color: v.$blanco;
           }
        }
    }
}